:root {
  --primary-color: #1d3b54;
  --primary-color-90: #334e65;
  --primary-color-80: #4a6276;
  --primary-color-70: #607587;
  --primary-color-60: #778998;
  --primary-color-50: #8e9da9;
  --primary-color-40: #a4b0ba;
  --primary-color-30: #bbc4cb;
  --primary-color-20: #d1d7dc;
  --primary-color-10: #e8ebed;
}
